section#notifications-drawer a:hover {
  color: #2980b9 !important;
}
section#notifications-drawer  .header {
  display: flex;
  justify-content: space-between;
  padding: 0.5lh 2ch;
  gap: 0.5lh;
  align-items: center;
  background: #ededed;
  border-bottom: 1px solid #dbdbdb;
}
section#notifications-drawer .header .toggle-read {
  color: #2980b9;
}
section#notifications-drawer .header h5 {
  text-align: center;
  margin: 0;
}
section#notifications-drawer .header .close {
  display: flex;
  opacity: 1;
}
section#notifications-drawer .all-read,
section#notifications-drawer .remove-read {
  color: #2980b9;
  background-color: #fafafa;
  margin: 8px 16px 12px;
  display: inline-block;
}
section#notifications-drawer .remove-read {
  float: right;
}
section#notifications-drawer .remove-read:hover {
  color: #eb4646 !important;
}
section#notifications-drawer ul.notifications {
  margin: 0;
  height: fit-content;
  display: flex;
  flex-direction: column;
}
